@use '../../styles/vars';

.title-home {
    display: flex;
    justify-content: space-between;
    .main-avatar {
        outline: 10px solid vars.$beige;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        object-fit: contain;
        font-size: 50px;
        text-align: center;
    }
}