// colors
$darkgreen: #06663E;
$brown: #4D2F13;
$red: #DA5A31;
$green: #E28341;
$orange: #E28341;
$darkbrown: #F0DDC5;
$lightbrown: #F2EBE6;
$beige: #EFECE6;


// fonts

$titleFont : 'myriad-std-tilt', sans-serif;
$largeFont : 'Six Caps', sans-serif;
$smallFont: 'kepler-std,' serif;
$bodyFont: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;



//gutter
$smallGutter: 1rem;
$bigGutter : 1.7rem;
