@use '../../styles/vars';

.answer {
    &.right-answer {
        background-color: vars.$darkgreen;
        padding: 1.5rem 1rem;
        transition: padding 0.2s ease-in-out;
        &.bad-answer {
            background-color: vars.$darkgreen;
        }
    }
    &.wrong-answer {
        background-color: darkred;
    }
    &.disabled-answer {
        pointer-events: none;
    }
    &.bad-answer {
        background-color: rgba(darkred, 0.5);
    }
}