@import '../../styles/vars';

.question-image {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: $small-gutter;
    + p {
        margin-bottom: $big-gutter;
    }
}