@import '../../styles/vars';
@import url('https://fonts.googleapis.com/css?family=Chewy');

.home {
    position: relative;
}
.user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    border-bottom: 2px solid $red;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $small-gutter;
    margin: 3rem 0;
    img {
        width: 75px;
    }
    .logo-text {
        font-family: "Chewy", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 35px;
    }
}

.badge-container {
    display: flex;
    gap: $small-gutter;
    img {
        width: 20px;
    } 
}

.quiz-result {
    margin-top: $small-gutter;
    text-align: center;
}

.answers-results {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
    height: 450px;
    overflow: hidden;
}

.results-action-container {
    position: absolute;
    bottom: $gutter;
    left: 0;
    right: 0;
    text-align: center;
    .start-quiz {
        text-align: center;
    }
}

.quiz-container {
    padding: 0 1.5rem 3rem 1.5rem;
    .quiz-label {
        text-align: center;
        padding: $big-gutter;
    }
    .quiz-container-links {
        display: flex;
        align-items: center;
        gap: $gutter;
        a {
            flex: 0 1 calc(30% - $small-gutter);
            // width: 30px;
            height: 300px;
            border-radius: $small-gutter;
            overflow: hidden;
            position: relative;
            transition: flex 0.2s ease-in-out; 
            img {
                height: 100px;
                height: fit-content;
            }
            .quiz-vignette-label {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate((-50%, -50%));
                color: white;
                opacity: 0;
                transition: opacity 0.1s ease-in 0.2s; 
            }
            // &:first-of-type {
            //     // width: calc(50% - ($gutter / 2));
            //     flex: 1 0 calc( 100% - (30px * 3));
            // }
            &:hover {
                // flex: 0 1 30px;
                // + a {
                    flex: 1 0 40%;
                // }
                .quiz-vignette-label {
                    opacity: 1;
                }
            }
        }

    }
}