@use '../../styles/vars';

.next_question {
    text-align: right;
    width: 100%;
    display: inline-block;
    margin-top: vars.$big-gutter;
    &.next_question_arrow {
        width: 100px;
        display: inline-block;
    }
}